html, body {
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	background-color: lightgrey;
}

.container {
	margin: 0 auto;
	background-color: white;
	border: 3px black solid;
	width: 700px;
	height: 700px;
}

.row {

width: 100%;
height: 20%;
display: flex;
flex-direction: row;
	/*border: 1px red solid;*/
}

.col {

	/*border: 1px black solid;*/
	display: flex;
	flex: 1;
	flex-direction: column;
}

/* LIGNE 1 */

.circle {
	transform: translateX(10%) translateY(10%);
 	border: 2px black solid;
 	border-radius: 100%;
 	width: 80%;
 	height: 80%;
}

.carrer {
	transform: translateX(20%) translateY(20%);
 	border: 2px black solid;
 	width: 70%;
 	height: 70%;
}

.full {
	background-color: red;
}

.empty { 
	background-color: white;
}

.vide {

}

.losange {
	margin-top: 20px;
	margin-left: 20px;
	transform:rotate(45deg);
}

#btn1 {
	margin-left: 8px;
	border: 3px black solid;
	position: absolute;
	margin-top: 300px;
	font-size: 30px;
	background-color: darkred;
	color: white;
	width: 250px;
	height: 50px;
	border-radius: 20px;
}

#btn2 {
	margin-left: 8px;
	border: 3px black solid;
	position: absolute;
		margin-top: 355px;
	font-size: 30px;
	background-color: darkred;
	color: white;
	width: 250px;
	height: 50px;
	border-radius: 20px;
}

.titre {
	font-weight: bold;
	margin-top: 80px;
font-size: 60px;
	margin-left: 973px;
	position: absolute;
	/*border: 2px black solid;*/
	height: 550px;
	width: 20%;
}